
.game-box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(82,82,82,1) 0%, rgba(7,16,28,1) 100%);
    position: relative;
    /* z-index: -10; */
}
.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background: rgb(73, 71, 71);
    border-radius: 5px;
    position: relative;
}

.game-wrapper input {
    position: absolute;
    height: 50%;
    width: 50%;
    opacity: 0;
}

.focus-warning {
    position: absolute;
    top: 50%;
    z-index: 10012;
    color: rgb(255, 255, 255)
}

.blurred {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background: rgb(70, 65, 65);
    border-radius: 5px;
    position: relative;
}

.blurred input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.test {
    z-index: -10;
}



.focus-face {
    position: absolute;
    top: -53px;
    left: 0px;
    height: 200px;
    width: 200px;
    z-index: -1;
    animation: moveUp 2s forwards;

}

.unfocus-face {
    position: absolute;
    top: -59px;
    left: 0px;
    height: 200px;
    width: 200px;
    animation: moveDown 2s forwards;
    z-index: -10;
}

.focus-hands {
    position: absolute;
    top: -112px;
    left: 0px;
    height: 200px;
    width: 200px;
    z-index: 101;
}

@keyframes moveUp {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-60px);
    }
}

@keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    20% {
        transform: translateY(40px);
    }
    100% {
      transform: translateY(60px); 
    }
  }
  
.blur-effect {
    filter: blur(4px);
}

.paragraphs {
    padding: 30px;
}


.current {
    color: rgba(245, 245, 245, 0.2);
}

.correct {
    color: rgb(236, 161, 47);
}

.wrong {
    color: red;
} 

.wpm {
    color: white;
    position: absolute;
    top: 200px;
    right: 600px;
}