/* * {
    border: 1px solid black;
} */

.game-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.current {
    color: mediumseagreen
}

.paragraphs {
    display: flex;
    gap: 30px;
}


.error { 
    color: red;
}

.correct {
    color: blue;
}

.wrong {
    color: red;
}