@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

body {
background-color: #1E1E1E;
font-family: 'JetBrains Mono', monospace;

}

.landing-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #00BCD4;
    background: rgb(82,82,82);
    background: radial-gradient(circle, rgba(82,82,82,1) 0%, rgba(7,16,28,1) 100%);
    position: relative;
}

.landing-page-wrapper header {
    font-size: 3em;
}

.landing-page-wrapper header h1 {
  font-size: 120px;
  text-shadow: 5px 5px #558ABB;
  margin: 0px 0px 30px 0px;
}
.landing-page-wrapper header h4 {
  font-size: 30px;


}

.landing-page-wrapper header span{
    animation: fadeInOut 1s infinite;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.landing-page-wrapper section {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(82,82,82);
    background: radial-gradient(circle, rgba(82,82,82,0.7049413515406162) 100%, rgba(234,237,241,1) 100%);


}


.landing-page-wrapper label {
  margin: 0px 0px 20px 0px;
  
}


.landing-page-wrapper input {
  display: flex;
  max-width: 230px;
  align-items: center;
  gap: 8px;
  background: #2f3640;
  border-radius: 5px;
  position: relative;
  color: rgb(2, 134, 155);
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.landing-page-wrapper .start-button {
  background: #879cb8;
  border-radius: 5px;
  padding: 5px;
  border: rgb(12, 93, 106) solid 0.15em;
  color: rgb(0, 53, 61);
  font-weight: 600;
  cursor: pointer;
}


.landing-page-wrapper select {
  background: #2f3640;
  border-radius: 5px;
  height: 30px;
  margin: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(2, 134, 155);
  font-weight: 600;
}

.landing-page-wrapper button:active {
  border-color: teal;
}

.leaderboard {
  position: absolute;
  top: 5%;
  right: 5%;
}




