.stats-wrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(73, 71, 71);
    border-radius: 5px;
}

.stats-wrapper section {
    height: 830px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(89, 217, 237);
    justify-content: center;
    
}

.stats-wrapper section span {
    color: white;
    
}

.stats-wrapper h2 {
    font-size: 60px;
    text-shadow: 5px 5px #558ABB;
}

.stats-wrapper button {
    background: #879cb8;
    border-radius: 5px;
    padding: 5px;
    border: rgb(89, 217, 237) solid 0.15em;
    color: rgb(89, 217, 237) solid 0.15em;
    font-weight: 600;
    cursor: pointer;
  }
  
  .landing-page-wrapper button:active {
    border-color: teal;
  }